<div class="col-md-12 communication-view">
  <div class="communication-hangup-info">
    <div class="big bg-danger center-text">
      <h1>
        <i class="glyphicon glyphicon-phone-alt"></i>
      </h1>
      <div id="communication-hangup-callee">
        <%= t('views.communication.call_was_terminated') %>
      </div>
    </div>
  </div>
</div>
