.communication-view {
  .big {
    font-size: 200%;
    padding-top: 1em;
    padding-bottom: 1em;
    border-radius: 4px;
    color: $headings-color;
    width: 20em;
    margin: 1em auto;
    text-align: center;
  }

  .big-button {
    min-width: 10em;
    padding: 2em 1em 1em;
    font-size: 200%;

    .fa {
      font-size: 300%;
    }
  }

  .communication-controls {
    clear: both;
    margin-top: 1em;

    .fa-ban {
      color: #C41A1A;
    }
  }

  .communication-videos {
    margin-top: 2em;
    position: relative;

    .communication_hangup_command {
      position: absolute;
      bottom: 1em;
      left: calc(50% + 12em);
      z-index: 1;
    }

    .communication-controls {
      position: absolute;
      right: calc(50% + 12em);
      bottom: 1em;
      background: #000;
      border-radius: 4px;
      padding: 0.2em;
      z-index: 1;
    }
  }

  .communication-info {
    position: absolute;
    bottom: 0.8em;
    left: calc(50% - 10em);
    width: 20em;
    white-space: nowrap;
    overflow: hidden;
    padding: 0.4em;
    font-size: 130%;
    color: #fff;
    background: #000;
    border-radius: 4px;
  }

  #communication-remote-videos {
    video {
      width: 60% !important;
      height: auto !important;
    }
  }

  #communication-local-video {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 200px;
  }
}
