// Bootswatch overrides

$gray:                    #555 !default;
$gray-light:              #aaa !default;
$gray-lighter:            #ddd !default;

$font-size-base:          14pt;
$font-size-h1:            32pt !default;
$font-size-h2:            24pt !default;
$font-size-h3:            20pt !default;
$font-size-h4:            16pt !default;
$font-size-h5:            15pt !default;
$font-size-h6:            14pt !default;

@import "bootswatch/cyborg/variables";
