// Bootswatch overrides

$gray:                   #555 !default;
$gray-light:             #aaa !default;
$gray-lighter:           #ddd !default;

$font-size-h1:            38px !default;
$font-size-h2:            32px !default;
$font-size-h3:            24px !default;
$font-size-h4:            20px !default;
$font-size-h5:            16px !default;
$font-size-h6:            14px !default;

@import "bootswatch/cyborg/variables";
